@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Lilita+One&family=Monofett&display=swap');

body {
  background-color: rgb(249, 225, 244);
}

h1 {
  text-align: center;
  font-size: 48px;
  font-family: 'Monofett', monospace;
  color: #e75ce7;
}

.motiv8ball {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #ee82ee;
  border-radius: 50%;
  margin: 100px auto;
  border: 2px solid #e75ce7;
  transition: transform 0.3s;
}

.motiv8ball.is-shaking {
  animation: shake 0.6s infinite;
}

.motiv8ball.is-grown {
  transform: scale(1.25);
}

.msg-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  top: 15%;
  left: calc(50% - 75px);
  display: flex; /* Add flex display */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border: 2px solid #e75ce7;
}

.msg {
  position: absolute;
  margin: 0;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  font-family: 'Handjet', cursive;
  color: #582037;
}

.btn {
  left: 47.5%;
  margin: 20px auto;
  padding: 10px 20px;
  position: relative;
  color: #e75ce7;
  background-color: rgb(225, 241, 255);
  font-family: 'Lilita One', cursive;
  border: 1px solid #e75ce7;
  border-radius: 15px;
}

.btn:hover {
  background-color: #c0c4fb;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px) rotate(-5deg);
  }
  40% {
    transform: translateX(10px) rotate(5deg);
  }
  60% {
    transform: translateX(-10px) rotate(-5deg);
  }
  80% {
    transform: translateX(10px) rotate(5deg);
  }
  100% {
    transform: translateX(0);
  }
}

